/*Main structure*/
body{
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium';
}

h1{

}

h2{

}

/*Input part*/





/*Output part*/


/*Others*/
.loadMessage {
    font-weight: 700;
}

